.about-us {
  display: flex;
  padding: 2rem 1rem;
  gap: 2rem;
  justify-content: center;
}

.about-us-img {
  height: 30rem;
}
.about-us-content {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  gap: 1rem;
}

.about-us-content h2 {
  font-size: 3rem;
}

.about-us-content p {
  line-height: 1.8rem;
}

.accent-text {
  font-size: 3rem;
  color: #f07167;
}

@media (max-width: 960px) {
  .about-us {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;
    justify-content: center;
  }
}
